@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>


    @*<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html"><span class="flaticon-pawprint-1 mr-2"></span>Pet Community </a>



            <button class="navbar-toggler d-lg-none" type="button" data-toggle="navbarToggler" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-inner">
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="navbarToggler" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <nav>
                    <ul class="navbar-nav" id="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " style="text-decoration: underline" href="#vets">Veterinarians</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll" href="#features">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll" href="#how-works">How It Works</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll" href="#screenshots">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll" href="#pricing">Pricing</a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link  text-orange" style="background: #FCC060;border-radius: 200px;color: white !important;" href="https://www.aspca.org/pet-care/dog-care" target="_blank">Pet Community Blogs</a>





                        </li>
                    </ul>
                 </nav>
            </div>
         </div>
     </nav>*@
    



                
           
        
        
     
    <!-- END nav -->




        <div class="hero-wrap js-fullheight" style="background-image: url(../images/img-1.jpg); height: 657px; background-position: 50% 0%;" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">

            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true" style="height: 657px;">
                <div class="col-md-11 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="col-12 col-md-7 col-lg-8">
                        <div class="welcome-intro">
                            <h1 class="text-white">Ask A VET | Anytime | Anywhere</h1>
                            <h3 class="text-white mt-3 font-weight-bold">Pet expert in your pocket</h3>
                            <p class="text-white my-4">
                                Pet Community is the first veterinary telehealth platform in the Egypt
                                that connects pet parents with veterinarians via video calls or text
                                messaging and provide jobs for a veterinary doctors.
                            </p>
                            <p class="text-white my-4">Contact a licensed vet and resolve your concerns immediately. </p>
                            <!-- Store Buttons -->
                            <div class="button-group store-buttons d-flex">
                                <a id="free-trial" class="btn sApp-btn text-uppercase">Start free trail</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
            <section class="ftco-section ftco-no-pt ftco-no-pb" id="features">
                <div class="container">
                    <div class="row d-flex no-gutters">
                        <div class="col-md-5 d-flex">
                            <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url(../images/about-1.jpg);">
                            </div>
                        </div>
                        <div class="col-md-7 pl-md-5 py-md-5">
                            <div class="heading-section pt-md-5">
                                <h2 class="mb-4">What Makes Pet Community Different?</h2>

                            </div>

                            <div class="row">
                                <div class="col-md-6 services-2 w-100 d-flex">
                                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-stethoscope"></span></div>
                                    <div class="text pl-3">
                                        <h4>Trusted community</h4>
                                        <p>
                                            Whatever you are searching for; you can get it through a full virtual pet service
                                            platform; which is completely reliable and secured.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6 services-2 w-100 d-flex">
                                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-customer-service"></span></div>
                                    <div class="text pl-3">
                                        <h4>Trusted partners</h4>
                                        <p>Get your answers from certified veterinarians and experts.</p>
                                    </div>
                                </div>
                                <div class="col-md-6 services-2 w-100 d-flex">
                                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-emergency-call"></span></div>
                                    <div class="text pl-3">

                                        <h4>Trusted source of information</h4>
                                        <p>
                                            Help your pet and improve your knowledge by browsing hundreds of articles; written by
                                            professional veterinary writers.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6 services-2 w-100 d-flex">
                                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-veterinarian"></span></div>
                                    <div class="text pl-3">

                                        <h4>Immediate</h4>
                                        <p>
                                            Ask a vet anytime, anywhere; and get your immediate answer via video calls or text
                                            messages.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!---->
            <section class="section discover-area overflow-hidden ptb_100" id="vets">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-12 col-lg-6 order-2 order-lg-1">
                            <!-- Discover Thumb -->
                            <div class="service-thumb discover-thumb mx-auto pt-5 pt-lg-0 text-center">
                                <img width="400" src="../images/about-00.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 order-1 order-lg-2">
                            <!-- Discover Text -->
                            <div class="discover-text pt-4 pt-lg-0">

                                <h2 class="pb-4 pb-sm-0"><b>Why Pet Community?</b></h2>
                                <p class=" d-sm-block pt-3 ">
                                    As a pet parent, you are able to contact a licensed vet and
                                    resolve your concerns immediately.
                                </p>
                                <p class=" d-sm-block pt-3 ">Pet Community provides 24/7 Virtual pet service</p>
                                <p class=" d-sm-block pt-3 pb-2">We recommend asking your vet about: </p>
                                <!-- Check List -->
                                <ul class="check-list">
                                    <li class="py-1">
                                        <!-- List Box -->
                                        <div class="list-box media">
                                            <span class="icon align-self-center"><svg class="svg-inline--fa fa-check fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg><!-- <i class="fas fa-check"></i> --></span>
                                            <span class="media-body pl-3">Pet’s general health</span>
                                        </div>
                                    </li>
                                    <li class="py-1">
                                        <!-- List Box -->
                                        <div class="list-box media">
                                            <span class="icon align-self-center"><svg class="svg-inline--fa fa-check fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg><!-- <i class="fas fa-check"></i> --></span>
                                            <span class="media-body pl-3">Nutritional inquiries</span>
                                        </div>
                                    </li>
                                    <li class="py-1">
                                        <!-- List Box -->
                                        <div class="list-box media">
                                            <span class="icon align-self-center"><svg class="svg-inline--fa fa-check fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg><!-- <i class="fas fa-check"></i> --></span>
                                            <span class="media-body pl-3">Behavioural inquiries</span>
                                        </div>
                                    </li>
                                    <li class="py-1">
                                        <!-- List Box -->
                                        <div class="list-box media">
                                            <span class="icon align-self-center"><svg class="svg-inline--fa fa-check fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg><!-- <i class="fas fa-check"></i> --></span>
                                            <span class="media-body pl-3">Coughing/Sneezing</span>
                                        </div>
                                    </li>
                                    <li class="py-1">
                                        <!-- List Box -->
                                        <div class="list-box media">
                                            <span class="icon align-self-center"><svg class="svg-inline--fa fa-check fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg><!-- <i class="fas fa-check"></i> --></span>
                                            <span class="media-body pl-3">Vomiting/Diarrhea </span>
                                        </div>
                                    </li>
                                    <li class="py-1">
                                        <!-- List Box -->
                                        <div class="list-box media">
                                            <span class="icon align-self-center"><svg class="svg-inline--fa fa-check fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg><!-- <i class="fas fa-check"></i> --></span>
                                            <span class="media-body pl-3">Eye problems </span>
                                        </div>
                                    </li>
                                    <li class="py-1">

                                        <!-- List Box -->
                                        <div class="list-box media">
                                            <span class="icon align-self-center"><svg class="svg-inline--fa fa-check fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg><!-- <i class="fas fa-check"></i> --></span>
                                            <span class="media-body pl-3">Skin issues</span>
                                        </div>
                                    </li>
                                    <li class="py-1">
                                        <!-- List Box -->
                                        <div class="list-box media">
                                            <span class="icon align-self-center"><svg class="svg-inline--fa fa-check fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg><!-- <i class="fas fa-check"></i> --></span>
                                            <span class="media-body pl-3">Post-surgery follow-ups</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <br><br>

            <section class="ftco-counter  bg-overlay overflow-hidden ptb_100" style="background-color: rgb(236, 167, 18);" id="how-works">
              <div class="container" style="padding: 0.2em;background-color:orange">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8">
                        <!-- Work Content -->
                        <div class="work-content text-center">

                            <h2 class="text-white"><b>How Pet Community Works? </b></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <!-- Single Work -->
                        <div class="single-work text-center p-3">
                            <!-- Work Icon -->

                            <div class="work-icon">
                                <img class="avatar-md" src="../images/reg-2.png" alt="">
                            </div>
                            <br>
                            <br>
                            <h3 class="text-white py-3">Open Pet Community</h3>
                            <p class="text-white">Open Google browser, search for Pet Community </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <!-- Single Work -->
                        <div class="single-work text-center p-3">
                            <!-- Work Icon -->
                            <div class="work-icon">
                                <img class="avatar-md" src="../images/reg3.png" alt="">
                            </div>
                            <h3 class="text-white py-3">Register</h3>
                            <p class="text-white">Register and easily create your account.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <!-- Single Work -->
                        <div class="single-work text-center p-3">
                            <!-- Work Icon -->
                            <div class="work-icon">
                                <img class="avatar-md" src="../images/reg4.png" alt="">
                            </div>
                            <br>
                            <h3 class="text-white py-3">Start live sessions</h3>
                            <p class="text-white">Find vets in your area and enjoy your consultation journey.</p>
                        </div>
                    </div>
                </div>
            </div>
           </section>

           <section class="ftco-section" id="screenshots">
            <div class="container">
                <div class="row justify-content-center pb-5 mb-3">
                    <div class="col-md-7 heading-section text-center ftco-animate">


                        <h2 class="text-capitalize"> PetLive features &amp; Beautiful Interface</h2>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ftco-animate">
                        <div class="work mb-4 img d-flex align-items-end" style="background-image: url(../images/about-00.jpg);">
                            <a href="../images/about-00.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                                <span class="fa fa-expand"></span>
                            </a>
                            <div class="desc w-100 px-4">
                                <div class="text w-100 mb-3">
                                    <span>feature</span>
                                    <h2><a href="work-single.html">feature</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ftco-animate">
                        <div class="work mb-4 img d-flex align-items-end" style="background-image: url(../images/about-01.jpg);">
                            <a href="../images/about-01.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                                <span class="fa fa-expand"></span>
                            </a>
                            <div class="desc w-100 px-4">
                                <div class="text w-100 mb-3">
                                    <span>
                                        feature
                                    </span>
                                        <h2><a href="work-single.html">feature</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ftco-animate">
                        <div class="work mb-4 img d-flex align-items-end" style="background-image: url(../images/about-02.jpg);">
                            <a href="../images/about-02.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                                <span class="fa fa-expand"></span>
                            </a>
                            <div class="desc w-100  px-4">
                                <div class="text w-100 mb-3">
                                    <span>feature</span>
                                    <h2><a href="work-single.html">feature</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           </section>

        <section style="padding: 0.2em; " id="pricing">


            <div class="section-heading text-center">
                <h2 class="text-capitalize"><b>Frequently asked questions</b></h2>
            </div>


            <div class="container footer" style="padding: 10px; background-color: dodgerblue; border-radius: 10px;">

                <div class="row" >
                    <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                        <h3 class="footer-heading">How do I register?</h3>
                        <p>
                            open Pet Community website , enter your
                            profile/pet information, search for your pet expert, and start your
                            consultation journey.
                        </p>

                    </div>

                    <div class="col-md-10 col-lg-5 mb-4 mb-md-0">
                        <h3 class="footer-heading">  schedule session with  Veterinarian?</h3>
                        <p>
                            Once you’ve registered your profile on the Pet Community website, select your
                            veterinarian from the available list and set up your session..
                        </p>


                    </div>

                    <div class="col-md-8 col-lg-4 mb-4 mb-md-0">
                        <h3 class="footer-heading">    chat with my Veterinarian ?</h3>
                        <p>
                            Once you’ve finished your session, you can chat with your veterinarian for 7
                            consecutive days for follow-up purposes; and he/she will answer you within 6
                            hours (before midnight) and within 12 hours (after midnight).
                            A junior veterinarian is available 24/7 via live chat and can help you with
                            general inquiries during these 7 days.
                        </p>


                    </div>
                    <div class="col-md-10 col-lg-5 mb-4 mb-md-0">
                        <h3 class="footer-heading">    make more than one call per day?</h3>
                        <p>
                            We highly recommend the monthly Gold subscription plan for most users.
                            Monthly plans work best for short-term users, while annual plans work better
                            for users who are confident they’ll be using the service for a year or
                            longer, so they could benefit from up to 33% discount. Please contact the
                            support team for assistance.
                        </p>


                    </div>
                    <div class="col-md-14 col-lg-7 mb-4 mb-md-0">
                        <h3 class="footer-heading"> choose the best subscription plan ?</h3>
                        <p>
                            We highly recommend the monthly Gold subscription plan for most users.
                            Monthly plans work best for short-term users, while annual plans work better
                            for users who are confident they’ll be using the service for a year or
                            longer, so they could benefit from up to 33% discount. Please contact the
                            support team for assistance.
                        </p>


                    </div>


                </div>
            </div>
        </section>

</body>