@model PetCommunity.ViewModel.doctorViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var users = ViewBag.users;
}

<h1>Create</h1>

<h4>Doctor</h4>
<hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <div>
                    @Html.DropDownListFor(x => x.UserId, new SelectList(users, "Id", "DisplayName"), "Choose", new { @class = "form-control" });
                </div>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkMobile" class="control-label"></label>
                <input asp-for="WorkMobile" class="form-control" />
                <span asp-validation-for="WorkMobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalSpeciality" class="control-label"></label>
                <input asp-for="MedicalSpeciality" class="form-control" />
                <span asp-validation-for="MedicalSpeciality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkAddress" class="control-label"></label>
                <input asp-for="WorkAddress" class="form-control" />
                <span asp-validation-for="WorkAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkPhone" class="control-label"></label>
                <input asp-for="WorkPhone" class="form-control" />
                <span asp-validation-for="WorkPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkEmail" class="control-label"></label>
                <input asp-for="WorkEmail" class="form-control" />
                <span asp-validation-for="WorkEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input type="file" name="File" asp-for="File" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
           </form>
        </div>
    </div>

<div>
    <a class="btn btn-primary" asp-action="Index">
        <i class="fas fa-list"></i>
        Back
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
